@font-face {
  font-family: SF Pro Display;
  src: url("./assets/FontsFree-Net-SFProDisplay-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: SF Pro Display
}

html {
    font-size: 62.5%;
    
}

a {
    text-decoration: none;
}

body {
    background-color: rgba(12, 12, 12, 1);
    height: 100vh;
    width: 100vw;
    color: white;
}

#fullpage {
    width: 100%;
    height: 100%;
}

.section {
    width: 100%;
    height: 100%;
    text-align: center;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{ 
    display: none;
}

/* Navbar */

/*Nav Bar*/
nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 20px;
    z-index: 1;
    /* Changed position and added width */
    position: fixed;
    width: 95%;
    
  }
  .nav-logo
  {
    margin: 10px;
    width: 246px;
    height: 83.46px;
    left: -13px;
    top: -9px;
    clip: rect(0px,20px,0px,0px);
  }
  .nav-links{
    flex: 1;
    text-align: right;
  }
  .nav-links ul li{
    list-style:none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  
  }
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height:2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width:100%
  }
  nav .fa{
    display: none;
  }
  .navbar-image
  {
      display: none;
  }
/* responsive_code_nav_bar*/
@media(max-width:980px) /*for devices less than or equal to 700px */
{
  .nav-links ul li{
    display:block;
}
  
  .nav-links{
    position: absolute;
    background-color: black;
    background-image: linear-gradient(45deg, rgba(122, 125, 146, 0.62), rgba(5, 23, 129, 0.58)), url("./assets/navbar/Landing.svg");
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    width:250px;
    top: 0;
    right: -250px;
    text-align: left;
    z-index:2;
  }
  nav .fa{
   display: block;
    color: #fff;
    margin: 20px;
    font-size: 22px;
    cursor: pointer;
    
  }
  .nav-links ul{
    padding: 40px;
  }
  
}

.fullpage-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-container{
    display: flex;
    flex-direction: column;
}
.space{
    flex-grow: 1000;
}

.info{
    text-align: left;
    font-size: 2vw;
    line-height: 149.34%;
    letter-spacing: 0.025em;
    width: 51%;
    padding: 3% 5%;
}

.info h2 {
    color: #3E74FF;
    font-size: 6.2vw;
    padding: 20% 2% 10%;
}

.info p{
    padding: 1.2% 2% 0;
}

img{
    height: 80vh;
    width: auto;
}
.img img{
    position: relative;
    right: 40px;
    top: 0.05vh;
}

/* Media queries */
/* Media Queries for all Pages */
@media(max-width:1365px) and (min-height:1023px){
  .responsive-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .space-1{
    flex-grow: 10;
  }
    .fullpage-container{
    flex-direction: column;
    justify-content: flex-end;
  }
  .img-container{
    display: block;
    /* text-align: center; */
  }
  .img-mom img{
    height: 50vh;
  }
  .img img{
    right: 0;
    height: 50vh;
  }
  .info{
    height: 33vh;
    width: 90%;
    line-height: 3vh!important; 
  }

  .info h2{
    padding: 2% 2%;
    font-size: 6vh!important;
  }

  .info p{
    font-size: 2.5vh!important;
    
  }
}
@media(max-width:700px){
  .responsive-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .space-1{
    flex-grow: 10;
  }
    .fullpage-container{
    flex-direction: column;
    justify-content: flex-end;
  }
  .img-container{
    display: block;
    /* text-align: center; */
  }
  .img-mom img{
    height: 50vh;
  }
  .img img{
    right: 0;
    height: 50vh;
  }

  .info{
    height: 33vh;
    width: 90%;
    line-height: 20px; 
  }

  .info h2{
    padding: 2% 2%;
    font-size: 30px;
  }

  .info p{
    font-size: 15px;
    
  }

}

@media (max-height:414px){
  .info h2{
    padding-top: 20%;
  }
  .fullpage-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-container{
    display: flex;
    flex-direction: column;
}
.space{
    flex-grow: 1000;
}
}

@media(max-width:340px){
  
  .info h2{
    font-size: 20px;
  }
  .info p{
    font-size: 13px;
  }
}